# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
!README.md

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules
vendor

# Build artifacts
public/build
public/hot
public/storage
storage/*.key
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep

# Testing
.phpunit.result.cache
coverage
tests

# Misc
*.log
*.cache
npm-debug.log
yarn-error.log

